<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>책 검색 서비스</title>
</head>
<body>
	<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content text-center" role="main">
		<form id="loginForm" action="post" target="/v1/login">
			<div class="form-group">
				<input type="text" class="form-control" name="username" id="loginId" placeholder="아이디">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" name="password" id="loginPassword" placeholder="비밀번호">
			</div>
			<button type="button" class="btn btn-primary btn-lg btn-block" id="login">로그인</button>
			<button type="button" class="btn btn-link" data-toggle="modal" data-target="#userRegisterModal">회원 가입</button>
		</form>

		<!-- Register Modal -->
		<div class="modal fade" id="userRegisterModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="userRegisterModalLabel">회원 가입</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form id="registerForm">
							<div class="form-group">
								<input type="text" class="form-control" id="registerId" placeholder="아이디">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" id = "registerPassword" placeholder="비밀번호">
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="register">가입</button>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Register Done Modal -->
		<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-body">
					</div>
				</div>
			</div>
		</div>
    </main>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="./js/login.js"></script>
</body>
</html>
